.map {
  position: relative;
  height: calc(-56px + 100vh);
}

.on-map{
  position: fixed;
  z-index: 999;
}

.on-map-center {
  top: 85%;
  left: 0;
  right: 0;
  text-align: center;
}

.on-map-side .btn {
  width: 2.4em;
}

.on-map-left {
  top: 6em;
  left: 1em;
}

.on-map-right {
  top: 6em;
  right: 1em;
}
